 body {
  background-color: #1a1a2e;
  /* margin: 0;
  padding: 0;  */
}
.container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
 
}

.kurs {
  padding: 0 15px;
  
  text-decoration-color: aliceblue;
  text-align: center;
}
.kurs h1 {
    color: rgb(247, 244, 244);
}
.box {
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    
}
.k-image {
    width: 400px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;

}
.info {
  padding: 5px;
}
.info h2 {
  margin: 0 0 10px 0;
  color: #f3f3f8;
}
.info p {
  color: #e6dbdb;
  font-size: 14px;
  margin-bottom: 10px;
}
